<!doctype html>
<html>
    <head>
        <title>Monitor</title>
    </head>
    <body>
        <h1><%= @hostname %> - Monitor </h1>
        <table>
            <tr>
                <td>IP : </td>
                <td>$IP</td>
            </tr>
            <tr>
                <td>IP : </td>
                <td>$IP</td>
            </tr>
            <tr>
                <td>IP : </td>
                <td>$IP</td>
            </tr>
            <tr>
                <td>IP : </td>
                <td>$IP</td>
            </tr>
            <tr>
                <td>IP : </td>
                <td>$IP</td>
            </tr>
            <tr>
                <td>IP : </td>
                <td>$IP</td>
            </tr>
    </body>
</html>
